body { font-family: Arial; background-color: #000; color: gold; }
.nav-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.nav-button {
  border: 2px solid gold;
  padding: 10px 20px;
  color: gold;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: gold;
  color: black;
}

.sosmed-icons img:hover {
  transform: scale(1.2);
}
.social-icons {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  z-index: 999;
}
